<div class="header">
    <div class="btn" routerLink="/home">
        Home
    </div>
    <div class="btn" [routerLink]='["course","Latest_technologies"]'>
        Latest technologies
    </div>
    <div class="btn" [routerLink]='["course","IT"]'>
        IT Course
    </div>
    <div class="btn" [routerLink]='["course","CAD"]'>
        CAD Design Courses
    </div>
    <div class="btn" [routerLink]='["course","Language"]'>
        Languages
    </div>
    <div class="btn" routerLink="/contact">
        Contact us
    </div>
</div>