<div class="footer">
    <div class="box1">
        Priority Skill Center Pvt Ltd.
    </div>
    <div class="box2">
        <ul>
            <li routerLink="/home">Home</li>
            <li routerLink="/course" [queryParams]="{type:'Trending'}">Trending Courses</li>
            <li routerLink="/course" [queryParams]="{type:'IT'}">IT Courses</li>
            <li routerLink="/course" [queryParams]="{type:'CAD'}">CAD Design Courses</li>
            <li routerLink="/course" [queryParams]="{type:'Language'}">Languages</li>
            <li routerLink="/contact">Contact Us</li>
        </ul>
    </div>
    <div class="box3">
        <ul>
            <li>24x7 Call Support</li>
            <li>Privacy & Policy</li>
            <li>Terms Of Use</li>
        </ul>
    </div>
    <div class="box4">
        <div>Follow Us</div>
    </div>
</div>
