<div class="outer">


    <div id="card" *ngFor="let d of data">

        <div class="img">
            <img [src]="getImage(d.img)">
        </div>
        <div class="detail">

            <div id="title">
                {{d.title}}
            </div>
            <div id="desc">
                {{d.desc}}
            </div>

        </div>
        <div class="btn">

            <div id="view" style="cursor: pointer;" routerLink="/detail" [queryParams]="{type:'IT',id:d.id}">
                View
            </div>

        </div>

    </div>


</div>