.outer{
    min-height:95vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #251F55, #8275DE, #251F55);
}

#card{
    width:90%;
    height: 190px;
    background-color: white;
    border-radius: 15px;
}