<div class="outer">

    <div class="home">
        <div class="content">
            <h1>{{detail().title | uppercase}}</h1>
            <p>{{detail().desc | titlecase}}</p>
            <hr>
            <div>
                <button class="btn" style="background-color: #FB4C19;color: white;"
                    (click)="dialog_display=true;this.contact.get('Message')?.patchValue('Enrol now => ' + detail().title )">Enrol
                    now</button>
                <button class="btn" style="background-color: white;color: #FB4C19;"
                    (click)="dialog_display=true;this.contact.get('Message')?.patchValue('Try For Free => ' + detail().title )">Try For
                    Free</button>
            </div>

            <div id="intro">

                <span>
                    <div id="head">
                        {{detail()?.detail?.student_enrol}} +
                    </div>
                    <div>
                        Student Enrol
                    </div>
                </span>
                <span>
                    <div id="head">
                        {{detail()?.detail?.problem}} +
                    </div>
                    <div>
                        Problems
                    </div>
                </span>
                <span>
                    <div id="head">
                        {{detail()?.detail?.month}} +
                    </div>
                    <div>
                        Months
                    </div>
                </span>
                <span>
                    <div id="head">
                        {{detail()?.detail?.hour}} +
                    </div>
                    <div>
                        Hours of Videos
                    </div>
                </span>

            </div>

        </div>
        <div class="img">
            <img [src]="getImage(detail().img)" alt="">
        </div>
    </div>

    <div class="learn">

        <h2>WHY SHOULD I LEARN {{detail().title | uppercase}} </h2>

        <div style="margin-top: 10px;">

            <ng-container *ngFor="let i of detail().detail?.learn">

                <ul>
                    <li>
                        {{i}}
                    </li>
                </ul>

            </ng-container>

        </div>

    </div>

    <div class="curriculum">

        <div id="title">
            COURSE CURRICULUM
        </div>

        <ng-container *ngFor="let i of detail()?.detail?.curriculum">

            <div class="box">
                {{i}}
            </div>

        </ng-container>

    </div>

    <div class="faculty">

        <div id="title">
            Faculty
        </div>

        <div class="outer-box">

            <div class="box" *ngFor="let i of detail()?.detail?.faculty">
                <img [src]="i.image" height="200px" width="200px">
                <div class="name">{{i?.name}}</div>
            </div>

        </div>

    </div>

    <div class="offer">
        <div id="title">
            WHAT WE OFFER  
        </div>
        <div class="detail">
            <div class="infos">
                <div class="circle">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Mock Interviews with Industry experts</p>
                </div>
                <div class="circle">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>1 hour mock interview session</p>
                </div>
                <div class="circle">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Interview expert based on your preferences .</p>
                </div>
                <div class="circle">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Detailed & Genuine Feedback</p>
                </div>
                
            </div>
            <div class="imgBx">
                <img src="../../assets/courses/vecteezy_isometric-style-website-development-illustration_6470909-removebg-preview.png" alt="">
            </div>
        </div>
    </div>

</div>



<p-dialog header="Contact Form" [(visible)]="dialog_display" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">

    <form style="margin-top: 10px;" [formGroup]="contact" (ngSubmit)="save()">

        <input type="text" pInputText style="width: 100%;" placeholder="Name" formControlName="Name">
        <input type="text" pInputText style="width: 100%;margin-top: 10px;" placeholder="Email"
            formControlName="Email" />
        <input type="text" pInputText style="width: 100%;margin-top: 10px;" placeholder="Phone"
            formControlName="Subject" />

        <button pButton type="submit" label="Submit" class="p-button-outlined"
            style="width: 100%;margin-top: 10px;"></button>

    </form>

</p-dialog>


