.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(180deg, #342c77, #262058, #161232);
  padding: 30px;

  .content {
    padding: 20px;
    color: white;
    padding: 10px;
    font: message-box;

    h1 {
      font-size: 55px;
      color: #fff;
      text-transform: capitalize;
      padding: 10px;
    }

    .img {
      margin: 40px;
    }

    p {
      font-size: 20px;
      color: #ffff;
      padding: 10px;
      max-width: 700px;
      text-align: justify;
    }
    hr {
      margin: 10px;
      width: 500px;
    }

    .btn {
      width: 150px;
      height: 50px;
      margin: 10px;
      background-color: #fcbf49;
      text-transform: uppercase;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }

    #intro {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-top: 19px;

      #head {
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.learn {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  h2 {
    color: #f24e1e;
    font-size: 40px;
    margin-bottom: 20px;
  }

  li {
    font-size: 18px;
  }
  ul {
    margin-top: 10px;
  }
}

.curriculum {
  background-color: #251f55;
  height: fit-content;
  padding: 40px 0;

  #title {
    color: white;
    text-align: center;
    font-size: 32px;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .box {
    background-color: white;
    border-radius: 4px;
    margin: 22px 70px;
    height: 75px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    color: #868686;
    font-weight: 600;
  }
}

.faculty {
  #title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #424242;
    text-transform: uppercase;
  }

  .outer-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .box {
      height: 240px;
      width: 200px;
      margin-right: 20px;
      position: relative;
    }
  }
}
