<div class="outer">

    <div class="home">
        <div class="content">
            <h1>Welcome to priority skill center</h1>
            <h2>A WAY TO ACHIEVE EXCELLENCE</h2>
            <p>Dedicated bootcamp programs to accelerate your learning and make you job-ready for a career in technology</p>
            <button class="btn">Learn More</button>
    
        </div>
        <div class="img">
            <img src="../../assets/home/Untitled_design-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="top">


    </div>
    <div class="learn">


    </div>
    <div class="curriculum">

    </div>


</div>