<div class="contact">

    <div class="container">
        <img  src="../../assets/Contact/undraw_working_re_ddwy.svg" alt="">
    </div>
    <div class="container">
        <div class="box">
            <h2>Contact Form</h2>
            <form [formGroup]="contact" (ngSubmit)="save()">
                <input type="text" name="userName" placeholder="Name" class="content" formControlName="Name">
                <br>
                <input type="email" name="email" placeholder="Email" class="content" formControlName="Email">
                <br>
                <input type="text" name="subject" placeholder="Subject" class="content" formControlName="Subject">
                <br>
                <textarea name="msg" id="msg" cols="10" rows="5" placeholder="our Message" class="content" formControlName="Message"></textarea>
                <br>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>
    
