.home{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(45deg, #375684,#342C77 , #251F55);
}
.content {
    padding:20px;
}
.content h1{
    font-size: 55px;
    color: #fff;
    text-transform: capitalize;
    padding:10px;
}

.content h2{
    font-size:25px;
    padding:10px;
    color:#FCBF49
}

.content p{
    font-size:20px;
    color:#ffff;
    padding:10px;
}

.content .btn{
    width:150px;
    height:50px;
    margin:10px;
    background-color: #FCBF49;
    text-transform: uppercase;
    border-radius: 10px;
    border:1px solid #342C77
}

.content .btn:hover{
    background:#efe772;
    color:#375684;
    
}


/* skill section */

.box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#251F55;
    width:595px;
    height:100px;
    padding:10px 100px;
    border-radius: 20px;
    position: absolute;
    left: 200px;
    top: 550px;
}

.box .skill{
    color:#fff;
}

.box .skill h2{
    font-size: 45px;
    
}

/* ---------About Us--------- */
.row{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.about{
    text-align: center;
    padding:30px;
    margin-top:80px;
}
.about h2{
    color: #251F55;
    font-size: 45px;
    text-transform: uppercase;
}
.row .column{
    padding:20px;
    margin:10px;
}
.row .column p{
    font-size:20px;
    text-align: justify;

}
.row .column img{
    width:450px;

}

.container{
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
}

.container .item{
    width:300px;
    text-align: center;
}
.container .item .bi{
    font-size: 30px;
    color: #FCBF49;
    text-align: center;
    padding:10px;
}

.container .item h3{
    font-size: 30px;
    color: #251F55;
    text-transform: capitalize;
    text-align: center;
    padding:10px;
}
.container .item p{
    text-align: justify;
}

/* provide section */
.ProvideUs{
    background: #251F55;
    color:#fff;
    text-align: center;
    height:550px;
    padding:10px;
}

.ProvideUs h2{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding-top:50px;
}

.ProvideUs .list{
    width:1000px;
    margin:100px;
}


.ProvideUs .list p{
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
    margin:20px;
}



/* reiew section */
.student h2{
    color: #251F55;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top:50px;
}
.review{
    display: flex;
    justify-content: space-evenly;
    padding:30px;
}

.review .box1{
    border:1px solid #FCBF49;
    margin:30px;
    height:300px;
}
.review .box1 .star{
    align-items: center;
    margin:20px;
}
.review .box1 .star .bi{
    margin:5px 5px 5px 0px;
    color:#FCBF49;
    font-size: 20px;
}
.review .box1 .description{
    margin:20px;
}
.review .box1 .info{
    background: #FCBF49;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.review .box1 .info img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.review .box1 .info p{
    font-size: 20px;
    padding:20px
}

/* company section */
.company h2{
    color: #251F55;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top:50px;
}
.company .logo{
    padding:20px;
    margin:30px;
}
.company .logo img{
    padding:20px;
}

/* placement section */
.placement h2{
    color: #F24E1E;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top:50px;
}

.placement .offer{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin:30px;
}

.placement .offer .box2{
    width:110px;
    height: 120px;
    border:2px solid #251F55;padding:10px;
    margin: 10px 80px;
}

.placement .offer .box2 .bi{
    font-size: 50px;
    margin:12px;
}
.placement .offer .box2 h3{
    font-size: 15px;
    text-transform: uppercase;
    padding-top:10px;
}

/* detail section */
.detail{
    display:flex;
    justify-content: space-around;
    padding: 50px;;
}
.detail .infos{
    text-align: justify;
    padding:20px;
    margin-top:80px;
    width:500px;
}
.detail .infos ul li{
    list-style: none;
    padding:20px;

}

/* contact */
.contact{
    display: flex;
    background: #f2f2f2;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
}

.container1 img{
    width:500px;
    height:500px;
}

.box4{
     border-radius: 20px;;
     background: #ffff;
     padding:30px;
     margin:20px;
}
.box4 h2{
    text-align: center;
    padding: 10px;
    border-bottom:3px solid #251F55;
}
.content1{
    width:300px;
    padding:10px;
    margin:10px;
    border: 1px solid #251F55;
    border-radius: 3px;
}

.btn{
    width:320px;
    background: #251F55;
    color:#ffff;
    padding:10px;
    margin:10px;
    border:1px solid #251F55
}

