<div class="home">
    <div class="content">
        <h1>Welcome to priority skill center</h1>
        <h2>A WAY TO ACHIEVE EXCELLENCE</h2>
        <p>Dedicated bootcamp programs to accelerate your learning and make you job-ready for a career in technology</p>
        <button class="btn">Learn More</button>

    </div>
    <div class="img">
        <img src="../../assets/home/Untitled_design-removebg-preview.png" alt="">
    </div>
</div>

<div class="box">
    <div class="skill">
        <h2>75+</h2>
        <p>Industry Expert</p>

    </div>
    <div class="skill">
        <h2>75+</h2>
        <p>Industry Expert</p>
    </div>
    <div class="skill">
        <h2>75+</h2>
        <p>Industry Expert</p>
    </div>
</div>

<div class="about">
    <h2>About Us</h2>
    <div class="row">
        <div class="column">
            <p>
                Priority skill center is one of the leading CAD CAM CAE & IT training center & Training partner for
                various trainings an skill development center For all Fresher Engineers & for all whom willing to be
                skill in the various fields so they achieve Domain Experts knowledge & experience skill through Industry
                base training to get their dream career.
                Priority skill center is an skill development center For all Fresher Engineers & for all wants to alive
                dream career Priority Skill Center is well known Institute for their Industrial design expert faculties
                and Placement facilities..</p>
        </div>
        <div class="column">
            <img src="../../assets/home/Untitled design (1).png" alt="">
        </div>
    </div>

    <div class="container">
        <div class="item">
            <i class="bi bi-tv"></i>
            <h3>Our Vision</h3>
            <p>To create million of success stories of today’s Fresher’s to achieve excellent height of skill Required
                to get their dream job & live their dream Career.
                Fresher’s get proper guidance from industrial trainers with 9+ years Experience
            </p>
        </div>
        <div class="item">
            <i class="bi bi-chat-square-text"></i>
            <h3>our mission</h3>
            <p>in Priority Skill Center, we have a mission to Help students and professionals to Chase their dream jobs
                by bridging the gap Between industry standards and their knowledge
            </p>
        </div>
        <div class="item">
            <i class="bi bi-person-fill"></i>
            <h3>our team</h3>
            <p>Priority skill center is blessed with 9+ years of experienced expert trainers And Certified instructors
                for your domain Relatedtraining .Fresher’s get proper guidance to acheive their career goals
            </p>
        </div>
    </div>
</div>

<div class="ProvideUs">
    <h2>we provide</h2>
    <div class="list">
        <p>ISO 9001-2015 certified training center with all facilitat</p>
        <p>well located training center. </p>
        <p>100% placement assistance &100% job guaranty is what we provide to ur students.</p>
        <p>Certification: Authorized training center for all courses the certificate & standard syllabus will be applicable globally.</p>

    </div>
</div>

<!-- <div class="student">
    <h2>student review</h2>
    <div class="review">
        <div class="box1">
            <div class="star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <div class="description">I learn civil cad courses & I got placed as design engineer With good package
                Thanks to Trainer Akash for solving all My query’s & makes me transform from fresher to experience Level
                skilled thanks Priority Skill center for Placement Priority skill center is Good institute for civil cad
                design career.</div>
            <div class="info">
                <img src="../../assets/student/22_05_2021, 08_47_26.jpeg" alt="">
                <p>Miss. Lakshmi Joshi</p>
            </div>
        </div>
        <div class="box1">
            <div class="star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <div class="description">I learn civil cad courses & I got placed as design engineer With good package
                Thanks to Trainer Akash for solving all My query’s & makes me transform from fresher to experience Level
                skilled thanks Priority Skill center for Placement Priority skill center is Good institute for civil cad
                design career.</div>
            <div class="info">
                <img src="../../assets/student/22_05_2021, 08_47_26.jpeg" alt="">
                <p>Miss. Lakshmi Joshi</p>
            </div>
        </div>
        <div class="box1">
            <div class="star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <div class="description">I learn civil cad courses & I got placed as design engineer With good package
                Thanks to Trainer Akash for solving all My query’s & makes me transform from fresher to experience Level
                skilled thanks Priority Skill center for Placement Priority skill center is Good institute for civil cad
                design career.</div>
            <div class="info">
                <img src="../../assets/student/23_05_2021, 15_21_33.jpeg" alt="">
                <p>Yashraj Dawkhar</p>
            </div>
        </div>
    </div>
</div> -->

<div class="company">
    <h2>our student placed at</h2>
    <div class="logo">
        <img src="../../assets/placement/Rectangle 36.png" alt="">
        <img src="../../assets/placement/Rectangle 37.png" alt="">
        <img src="../../assets/placement/Rectangle 38.png" alt="">
        <img src="../../assets/placement/Rectangle 39.png" alt="">
    </div>
</div>

<div class="student">
    <div class="review">
        <div class="desc">
            <div class="box1">
                <h2>student review</h2>
                <h3>Shreeya Patil</h3>
                <p>I learn civil cad courses & I got placed as design engineer With good package
                    Thanks to Trainer Akash for solving all My query’s & makes me transform from fresher to experience Level
                    skilled thanks Priority Skill center for Placement Priority skill center is Good institute for civil cad
                    design career</p>
            </div>
            <div class="box2">
                <img src="../../assets/student/IMG-20221117-WA0002.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="placement">
    <h2>our placement process</h2>
    <div class="offer">
        <div class="box2">
            <i class="bi bi-card-checklist"></i>
            <h3>eligibility criteria</h3>

        </div>
        <div class="box2">
            <i class="bi bi-camera-video-fill"></i>
            <h3>placements training</h3>
        </div>
        <div class="box2">
            <i class="bi bi-microsoft-teams"></i>
            <h3>INTERview q&a</h3>
        </div>
        <div class="box2">
            <i class="bi bi-file-earmark-person"></i>
            <h3>resume preparation</h3>
        </div>
        <div class="box2">
            <i class="bi bi-clipboard-minus"></i>
            <h3>aptitude test</h3>
        </div>
        <div class="box2">
            <i class="bi bi-journal"></i>
            <h3>mock interviews</h3>
        </div>
        <div class="box2">
            <i class="bi bi-list-columns-reverse"></i>
            <h3>sceduling interviews</h3>
        </div>
        <div class="box2">
            <i class="bi bi-pass"></i>
            <h3>job placement</h3>
        </div>
    </div>

</div>




<div class="detail">
    <div class="infos">
        <ul>
            <li>2500+ students and 2000+ students had been placed in various MNCs</li>
            <li>Online & Offline Training </li>
            <li>Focus on Personality Development, Soft Skill Development, Communication Development, interview Technique
                & Corporate resume building </li>
            <li>Provide excellent quality training so that our students achieve & live their dream career .</li>
        </ul>
    </div>
    <div class="imgBx">
        <img src="../../assets/home/home get trained svg 1.png" alt="">
    </div>
</div>